body {
    text-align: center;
    background: linear-gradient(120deg, #2980b9, #6dd5fa, #ffffff);
    background-size: 600% 600%;
    animation: gradientBackground 10s ease infinite;
    font-family: 'Press Start 2P', cursive;
  }
  
  @keyframes gradientBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  #level-title {
    font-size: 2rem;
    margin: 5% 0;
    color: #d60f7c;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .row {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .btn {
    margin: 20px;
    height: 150px;
    width: 150px;
    border-radius: 20px;
    border: 5px solid #000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  }
  
  .btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px white;
  }
  
  .green {
    background: linear-gradient(45deg, #43a047, #66bb6a);
  }
  
  .red {
    background: linear-gradient(45deg, #e53935, #ef5350);
  }
  
  .yellow {
    background: linear-gradient(45deg, #fdd835, #ffee58);
  }
  
  .purple {
    background: linear-gradient(45deg, #8e24aa, #ab47bc);
  }
  
  .pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  